.movie-show {
  &__title {
    padding-block: 2rem;
    font-size: var(--fs-500);
  }

  &__list-container {
    -gap: 4rem;

    grid-template-columns: repeat(auto-fill, minmax(20rem, auto));
    padding-block: 2rem;
  }
}
