.movies {
  &__list-container {
    -gap: 4rem;
    
    grid-template-columns: repeat(auto-fill, minmax(20rem, auto));
    padding-block: 2rem;
  }

  &__list-card {
    min-height: 30rem;
    border-radius: 0.5rem;

    overflow: hidden;
  }

  &__list-card img {
    object-fit: cover;
    height: 28rem;
  }

  &__list-card h3 {
    background-color: hsla(0, 100%, 50%, 0.3);
    padding-block: 1.5rem;

    backdrop-filter: blur(10px);
  }
}
