.home {
  &__title {
    font-size: var(--fs-700);
    padding-block: min(1rem, 2vw);
  }

  &__cards {
    display: grid;
    justify-content: center;

    min-height: 80vh;

    @media (min-width: 35em) {
      grid-template-columns: repeat(2, 1fr);
      align-content: center;
    }
  }

  &__card-container {
    --gap: 0.75rem;
  }

  &__card {
    margin-block: auto;
    // width: calc(35rem - 10vw);
    // border-radius: 33% 67% 77% 23% / 47% 44% 56% 53%;
  }

  &__card img {
    aspect-ratio: 1;
    object-fit: cover;
    // max-width: 40rem;

    margin-block-start: 1.5rem;
    border-radius: 33% 67% 77% 23% / 47% 44% 56% 53%;
  }

  &__card--show img {
    border-radius: 70% 30% 18% 82% / 47% 44% 56% 53%;
  }

  h4 {
    background-image: linear-gradient(
      to right,
      hsl(var(--clr-blue)),
      hsl(var(--clr-yellow))
    );

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    font-size: var(--fs-500);
  }
}
