.header {
  min-height: 8vh;
  background-color: rgb(6, 6, 37);
  color: white;

  &__logo {
    font-size: var(--fs-600);
  }

  &__nav {
    display: none;

    @media (min-width: 50em) {
      display: block;
    }
  }

  &__nav-list {
    list-style-type: none;

    li a {
      color: white;
      text-decoration: none;
      font-size: var(--fs-400);
    }
  }

  &__burger {
    svg {
      width: 2.4rem;
      aspect-ratio: 1;
    }

    @media (min-width: 50em) {
      display: none;
    }
  }

  .active {
    border-bottom: 2px solid hsl(0, 0%, 100%);
  }
}
