.header {
  min-height: 8vh;
  background-color: hsl(var(--clr-blue-dark));
  color: hsl(var(--clr-white));

  &__logo {
    font-size: var(--fs-600);
    font-weight: 700;
  }

  &__nav {
    display: none;

    @media (min-width: 50em) {
      display: block;
    }
  }

  &__nav-list {
    list-style-type: none;

    li a {
      color: hsl(var(--clr-white));
      text-decoration: none;
      font-size: var(--fs-400);
    }
  }

  &__burger {
    svg {
      width: 2.4rem;
      aspect-ratio: 1;
    }

    @media (min-width: 50em) {
      display: none;
    }
  }

  .active {
    border-bottom: 2px solid hsl(var(--clr-white));
  }
}
